@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* primery color */
:root {
  --blue: #053858;
}

/**
  * Layout styles
  * */
html {
  height: 420px !important;
}

body {
  /* change browsers default settings */
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;

  /* for nice view only */
  max-width: 556px;
  margin-left: auto;
  margin-right: auto;
}

/* smaller width than footer */
header,
main {
  padding: 0 40px;
}

html,
body,
table {
  width: 100%;
  font-size: 0.75rem;
  color: #111118;
  font-weight: 400;
}

/**
  * General Styles
  * */
.font-sans {
  font-family: "Fira Sans", sans-serif;
}
.font-mono {
  font-family: "Fira Mono", monospace;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.opacity-70 {
  opacity: 0.7;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.capitalise {
  text-transform: capitalize;
}

.text-14 {
  font-size: 0.875rem;
}

.text-10 {
  font-size: 0.625rem;
}

/**
  * Component styles
  * */

/* gap in between tables */
.gap {
  height: 10px;
}

/* horizontal line */
.hr {
  height: 15px;
}

/* big footer last column content hidden */
.col-gap {
  visibility: hidden;
}

/* Invoice Styles */
.invoice {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
}

/* Text alignments */
table tr > td,
table tr > th {
  text-align: center;
}

#big-footer tr > td:nth-child(2),
table tr > td:first-child,
table tr > th:first-child {
  text-align: left;
}

#big-footer tr > td:nth-child(3),
table tr > td:last-child,
table tr > th:last-child {
  text-align: right;
}

/* table row height */
td {
  line-height: 1.5;
}

#details td {
  line-height: 2;
}

/* Footer primery color implement */
.text-blue {
  color: var(--blue);
}

.bg-blue * {
  background-color: var(--blue);
  color: white;
  vertical-align: middle;
}

.pay-btn {
  padding: 8px 15px;
  border-radius: 0;
  border: 0;
  width: 100%;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.sign img {
  width: 70px;
  margin-bottom: 15px;
}

/* Footer section */
footer {
  width: 100%;
}

footer table {
  margin-top: 15px;
  padding: 0 0 20px;
}

/* Only for print styles */
@media print {
  html {
    font-size: 10px;
  }

  section {
    height: 420px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  header,
  main,
  footer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
  }

  /* Fixed the header position to top */
  header {
    top: 0;
  }

  main {
    top: 70px;
  }

  /* fixed footer position to the bottom of height 420 px */
  footer {
    top: 361.6px;
  }

  /* Adjast to required fixed height 420px */
  .gap {
    height: 5px;
  }

  /* table row height */
  td {
    line-height: 1;
  }

  #details td {
    line-height: 1.3;
  }

  /* horizontal line */
  .hr {
    height: 0;
  }
}
